body {
    background: bisque;
}

.slider_container {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider {
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.slides {
    width: 500%;
    height: 600px;
    display: flex;
}

    .slides input {
        display: none;
    }

.slide {
    width: 20%;
    transition: 1s;
}

    .slide img {
        margin-top: 20px;
        width: 100%;
        height: 600px;
    }

/*Manual slide*/
.manual_navigation {
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual_btn {
    border: 2px solid rgb(255, 255, 255);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

    .manual_btn:not(:last-child) {
        margin-right: 60px;
    }

    .manual_btn:hover {
        background: rgb(226, 126, 126);
    }

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}

/*Automatic slide*/
.auto_navigation {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 560px;
}

    .auto_navigation div {
        border: 2px solid black;
        padding: 5px;
        transition: 1.5s;
        border-radius: 10px;
    }

        .auto_navigation div:not(:last-child) {
            margin-right: 60px;
        }

#radio1:checked ~ .auto_navigation .auto_btn1 {
    background: black;
}

#radio2:checked ~ .auto_navigation .auto_btn2 {
    background: black;
}

#radio3:checked ~ .auto_navigation .auto_btn3 {
    background: black;
}

#radio4:checked ~ .auto_navigation .auto_btn4 {
    background: black;
}

/*Middle section*/
.middle_section_container {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.middle_section_text {
    color: gray;
    align-content: center;
    justify-content: center;
    height: auto;
    width: 500px;
}

    .middle_section_text h1 {
        color: #ffffff;
        align-items: center;
        justify-content: center;
    }

.middle_section_container img {
    display: flex;
    width: 600px;
    height: auto;
    margin: 50px;
    transition: 0.5s;
    cursor: pointer;
}

    .middle_section_container img:hover {
        width: 630px;
    }

.main_btn {
    display: flex;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    border: 3px solid rgb(255, 168, 168);
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: large;
    color: rgb(237, 177, 177);
}

    .main_btn:hover {
        font-size: 105%;
        border: 3px solid #ffffff;
        color: rgb(246, 120, 120);
    }
