@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/Home.css" asp-append-version="true" />
</head>
<!--Slider start-->
    <div class="slider_container">
      <div class="slider">
        <div class="slides">
          <!--Radio buttons start-->
          <input type="radio" name="radio-btn" id="radio1" />
          <input type="radio" name="radio-btn" id="radio2" />
          <input type="radio" name="radio-btn" id="radio3" />
          <input type="radio" name="radio-btn" id="radio4" />
          <!--Radio buttons End-->
          <!--Slide img Start-->
          <div class="slide first">
            <img src="~/Home/wallpaper1.jpg" alt="" />
          </div>
          <div class="slide">
            <img src="~/Home/wallpaper2.jpg" alt="" />
          </div>
          <div class="slide">
            <img src="~/Home/wallpaper3.jpg" alt="" />
          </div>
          <div class="slide">
            <img src="~/Home/wallpaper4.jpg" alt="" />
          </div>
          <!--Slide img end-->
          <!--Autoslide start-->
          <div class="auto_navigation">
            <div class="auto-btn1"></div>
            <div class="auto-btn2"></div>
            <div class="auto-btn3"></div>
            <div class="auto-btn4"></div>
          </div>
          <!--Autoslide end-->
        </div>
        <!--Manual navigation start-->
        <div class="manual_navigation">
          <label for="radio1" class="manual_btn"></label>
          <label for="radio2" class="manual_btn"></label>
          <label for="radio3" class="manual_btn"></label>
          <label for="radio4" class="manual_btn"></label>
        </div>
        <!--Manual navigation end-->
      </div>
    </div>
    <!--Slider End-->
    <!--Middle section start-->
    <div class="middle_section_container">
      <img src="~/Home/HomeWedd.jpg" alt="pic" />
      <div class="middle_section_text">
        <h1>Make it easy</h1>
        <p>
          Photography has the role of capturing the most beautiful moments of
          our lives and making them immortal.<br />
          If you want to benefit from my experience and tools, you can make an
          appointment for a photo shoot or an event that you want to capture,
          <br />
          all you have to do is log in.
        </p>
        <a asp-controller="Appointments" asp-action="Create" class="main_btn">Book Now</a>
      </div>
    </div>
    <!--Middle section end-->

<script src="~/js/imgChanger.js" asp-append-version="true"></script>